/* color */


.oldColor {

    color: #111111; /* black text in menu color */
}

.newColor{

    color: #856de5;
    color: #6e2feb; /* hover buttons color */
    color: #ffffffb3; /* text color in menu */
    color: #565656b3; /* border separator */

    color: #2b123e; /* sections colors */ 
    color: #111111; /* sections colors */
        

}

